@import '../../styles/variables.scss';

.account-main {
    background-color: #d32323;
    display: block;
    height: 100vh;
    margin: auto;
    width: 100%;

    @media (min-width: $desktop) {
        background-color: #f5f5f5;
        display: flex;
    }

    .split-adjust {
        @media (min-width: $desktop) {
            order: 1;
            width: 50%;
        }

        .account-form {
            max-width: 700px;

            .account-container {
                margin: auto;
                padding-top: 100px;
                width: 250px;

                .logo {
                    background-image: url(../../assets/Yelp_burst_negative_RGB.png);
                    background-size: 250px;
                    height: 250px;
                    width: 250px;

                    @media (min-width: $desktop) {
                        background-image: url(../../assets/Yelp_burst_positive_RGB.png);
                    }
                }
            }
        }
    }

    .split {
        display: none;
        position: relative;

        @media (min-width: $desktop) {
            background-color: #d32323;
            display: block;
            width: 50%;
        }
        .account-aside {
            bottom: 0;
            max-width: 700px;
            right: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }
}