@import '../../styles/variables.scss';

.business-main {
    background-color: #f5f5f5;
    display: block;
    min-height: 100vh;
    margin: auto;
    max-width: $max;

    @media (min-width: $desktop) {
        display: flex;
    }

    .business-data {
        @media (min-width: $desktop) {
            width: 60%;
        }

        .bookmark {
            background-color: #ffffff;
            margin: auto;
            max-width: 500px;
            width: 90%;
            padding: 10px 10px 10px 10px;

            button {
                background-color: #578843;
                border-radius: 8px;
                color: white;
                cursor: pointer;
                display: block;
                font-size: 1.4rem;
                font-weight: 500;
                margin: auto;
                padding: 5px 20px;
                letter-spacing: 0.05rem;
            }
        }

        .business-reviews {
            background-color: #ffffff;
            margin: auto;
            margin-top: 30px;
            max-width: 500px;
            width: 90%;
            padding: 10px 10px 10px 10px;
        }
    }

    .business-analysis {
        display: none;

        @media (min-width: $desktop) {
            display: block;
            width: 40%;
        }
    }
}

.ratings {
    height: 100px;
    margin: auto;
    width: 200px;

    .star-light,
    .star-solid {
        background-size: 40px 40px;
        display: inline-block;
        height: 40px;
        width: 40px;
    }
        

    .star-light {
        background: url(../../assets/star-light.svg) center center no-repeat;
    }

    .star-solid {
        background: url(../../assets/star-solid.svg) center center no-repeat;
    }
        
}
    
    
    
